html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
strong,
u,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
time,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
strong {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
img {
  width: 100%;
}
a,
a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
:focus {
  outline: 0;
}

/* Container */
.container {
  width: 1100px;
  margin: 0 auto;
}

/* Topo */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

h1 {
  width: 250px;
}

/* Menu */
nav ul {
  display: flex;
}

nav li {
  margin-left: 30px;
}

nav a {
  text-transform: uppercase;
  font: 18px Arial, Helvetica, sans-serif;
}

nav a:hover {
  color: #990;
}

/* Conteúdo */
/* Banner do blog */
.banner {
  position: relative;
}
.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font: bold 40px/1 Arial, Helvetica, sans-serif;
  transform: translate(-50%, -50%);
}

/* Área de posts do blog */
.posts-main {
  background: #fff;
  padding: 30px;
  position: relative;
  top: -50px;
  gap: 40px;
  display: flex;
}

.posts-main > article {
  width: 75%;
}

.post-content {
  display: flex;
  gap: 20px;
  font: 16px Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.post-content img {
  width: fit-content;
  /* Faz com que a imagem venha om o tamnho original */
}

.post-content h4 {
  margin: 10px 0 20px;
  font: 18px Arial, helvetica, sans-serif;
}

.cat-1 {
  color: darkred;
}
.cat-2 {
  color: darkblue;
}

.post-content h3 {
  font: bold 30px Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.post-text {
  color: #aaa;
  font: 18px/25px Arial, helvetica, sans-serif;
  margin-bottom: 10px;
  height: 75px;
  overflow: hidden;
}

/* Sidebar */
aside {
  width: 25%;
}
aside h3 {
  margin: 30px 0 20px;
  font: bold, 25px, Arial, Helvetica, sans-serif;
}

aside li {
  padding: 10px 0;
  line-height: 30px;
}

aside a {
  color: darkblue;
  font-size: 16px;
}
