* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

/* TOPO */
h1 {
  width: 520px;
  height: 106px;
  margin: 15px auto;
  overflow: hidden;
}

/* CONTEÚDO */
.banner {
  background: url(../../Imagens/Fotos/familia-na-praia.jpg) center no-repeat;
  text-align: center;
  background-size: 100%;
  padding: 170px 0;
}

h2 {
  color: black;
  font: bold 26px Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0, 5);
}

.container {
  width: 950px;
  margin: -50px auto;
  background: #fff;
}

.post h4 {
  color: #900;
  font: normal 16px "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.post h3 {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 15px;
}

.post p {
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
}

/*  RODAPÉ */
footer {
  border-top: 1px solid black;
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
}
