*{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

/* 
Técnicas de Tableless:
-Position;
-Float;
-Display;
-Flex;
-Grid.
*/

/* Position */
/* Usado quando um elento deve ficar em cima do outro */
/* Valores possíveis para a propriedade Position:
-Static (default);
-Relative;
-Absolute;
-Fixed;
-Sticky.

Ao usar qualquer valor para position diferente de Static as seguinte propriedades são liberadas:
-Top;
-Left;
-Right;
-Bottom;
-Z-idex.
*/

.p-box{
    background-color:antiquewhite;
    width: 500px;
    height: 500px;
    position: relative;
    top: 20px;
    left: 20px;
}

.p-box1{
      background-color: black;
      width: 150px;
      height: 150px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      z-index: 1;
}

.p-box2{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    z-index: 0;
}

.fone{
    background: black;
    color: beige;
    padding: 10px;
    width: 200px ;
    line-height: 1;
    position: fixed;
    right: -156px;
    top: 50%;
    z-index: 50;
    transition: 1s ease all;   
}

.fone:hover{
    right: 0;
    transition: 1s ease all; 
}

/* Pode-se dizer que na maioria dos casos o Relatve é usado para que o Absolute fique preso a ele, em um menu popup por exemplo */

/* Float */
/* Técnicade tableless para posicionar caixas uma do lado da outra */
/* Existem três vlores possíveis para float:
-Left;
-Right (raramente usado);
-None.
*/

.f-box{
    background-color: lightcoral;
    width: 500px;
    height: 200px;
}

.f-box1{
    background-color: lightgreen;
    width: 100px;
    height: 50px;
    margin: 10px;
    float: left;
}

.f-box2{
    background-color: lightgray;
    width: 50px;
    height: 100px;
    margin: 10px;
    float: left;
}

/* Bug que o Float causa - Usar float nos elementos filhos,faz vom que o elemento pai perca sua altura normal. Para corrigir, existem duas formas:
-Clear;
-Oveflow. 

.fix{
    clear: both;

}*/
